html, body{
  margin:0px;
  padding:0px;
  font-family: 'Niramit', sans-serif;
}
nav{
  color: white;
  position: sticky;
  font-size: 1.5em;
  padding-right: 35px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul{
  margin: 0;
}
li{
  display: inline;
}
#vikhyat{
  float: left;
  margin-left: 20px;
}
#works{
  margin-right: 50px;
}
#vikhyat, #works, #chat {
  transition: all 150ms linear;
}

#vikhyat:hover, #works:hover, #chat:hover {
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  text-decoration: none;
  text-shadow: -1px -1px 0 #818080;
  transition: all 250ms linear;
  cursor: pointer;
}
h1{
  text-align: center;
}

