html,body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
li{
  display: inline;
}
nav{
  position: fixed;
  background: rgb(104,40,96); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(104,40,96,1) 0%, rgba(0,0,0,1) 37%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(104,40,96,1) 0%,rgba(0,0,0,1) 37%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(104,40,96,1) 0%,rgba(0,0,0,1) 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#682860', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: right;
  color: white;
  border-radius: 15px;
  right: 0px;
  left: 0px;
}
#work,#contact{
  padding: 3%; 
}
#name{
  float:left;
}
#name:hover,#work:hover,#contact:hover{
  color: rgba(104,40,96,1);
  cursor: pointer;
}
#face{
  position:fixed;
  right: 44%;
  top:15%;
  border-radius: 100%;
  height: auto;
  width: 10%;
}
#tagLine, #contactInfo,#workInfo{
  font-size: 1em;
  position:fixed;
  text-align: center;
  margin: 5%;
  padding: 2%;
  color: white;
  border-radius: 10 px;
  float: center;
  left: 20%;
  right:20%;
  top:25%;
}
.content{
  color:white;
  z-index: 0;
}
#bcground{
  position:fixed;
}